<a href="https://colab.research.google.com/github/Carlosmagnobrusil/Food_sales_predictions/blob/main/salesprediction_cleaningdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Prediccion de ventas**
## *Creado por: Carlos Brusil*



*   Fecha de Creación: 14 de enero de 2022 
*   Fechad de actualización: 15 de enero de 2022
*   Descripción: Realizar la revision y limpieza de datos entregados para evitar futuros inconvenientes en el modelo de predicción

### Carga de datos

In [1]:
from google.colab import drive
drive.mount('/content/drive') # uno my Drive al nuevo cuaderno

Mounted at /content/drive

In [87]:
import pandas as pd #importo la libreria panda 
sales_data =  '/content/drive/MyDrive/Coding_Dojo/Semana 2/Pandas Data science/Data /sales_predictions.csv' #Nombro a la base
sales_df = pd.read_csv(sales_data) #le doy un nombre a la trama 
#de datos  ene ste caso el sugerido en la tarea como no tiene titulos el archivo txt uso el metodo header y que mantega los 
#valores vacios con na 
sales_df.head() #Observo que los datos hayan sido leidos de forma correcta

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

### Revisión de la base de datos

In [88]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

### Estadistica descriptiva

In [89]:
itemweigth_mean = sales_df.groupby(['Outlet_Identifier', 'Item_Identifier'])['Item_Weight'].mean() 
# en la anterior linea de codigo obtengo los datos por tienda y por articula para saber el peso medio de cada producto en la tienda 
itemweigth_mean

Outlet_Identifier  Item_Identifier
OUT010             DRA12              11.600
                   DRA24              19.350
                   DRA59               8.270
                   DRB13               6.115
                   DRB25              12.300
                                       ...
OUT049             NCZ18               7.825
                   NCZ30               6.590
                   NCZ42              10.500
                   NCZ53               9.600
                   NCZ54              14.650
Name: Item_Weight, Length: 8523, dtype: float64

In [90]:
itemweigth_min =  sales_df.groupby(['Outlet_Identifier', 'Item_Identifier'])['Item_Weight'].min()
#La linea de codigo anterior es para conocer cual es el peso minimo que se esta entregando en cada local por producto    
itemweigth_min

Outlet_Identifier  Item_Identifier
OUT010             DRA12              11.600
                   DRA24              19.350
                   DRA59               8.270
                   DRB13               6.115
                   DRB25              12.300
                                       ...
OUT049             NCZ18               7.825
                   NCZ30               6.590
                   NCZ42              10.500
                   NCZ53               9.600
                   NCZ54              14.650
Name: Item_Weight, Length: 8523, dtype: float64

In [91]:
itemweigth_max =  sales_df.groupby(['Outlet_Identifier', 'Item_Identifier'])['Item_Weight'].max()
#La linea de codigo anterior es para conocer cual es el peso maximo que se esta entregando en cada local por producto    
itemweigth_max

Outlet_Identifier  Item_Identifier
OUT010             DRA12              11.600
                   DRA24              19.350
                   DRA59               8.270
                   DRB13               6.115
                   DRB25              12.300
                                       ...
OUT049             NCZ18               7.825
                   NCZ30               6.590
                   NCZ42              10.500
                   NCZ53               9.600
                   NCZ54              14.650
Name: Item_Weight, Length: 8523, dtype: float64

In [92]:
itemweigth_var =  sales_df.groupby(['Outlet_Identifier', 'Item_Identifier'])['Item_Weight'].var()
#La linea de codigo anterior es para conocer cual es el peso minimo que se esta entregando en cada local por producto    
itemweigth_var

Outlet_Identifier  Item_Identifier
OUT010             DRA12             NaN
                   DRA24             NaN
                   DRA59             NaN
                   DRB13             NaN
                   DRB25             NaN
                                      ..
OUT049             NCZ18             NaN
                   NCZ30             NaN
                   NCZ42             NaN
                   NCZ53             NaN
                   NCZ54             NaN
Name: Item_Weight, Length: 8523, dtype: float64

In [93]:
itemweigth_std =  sales_df.groupby(['Outlet_Identifier', 'Item_Identifier'])['Item_Weight'].std()
#La linea de codigo anterior es para conocer cual es la dessviacion estandar del peso que se esta entregando en cada local por producto    
itemweigth_std

Outlet_Identifier  Item_Identifier
OUT010             DRA12             NaN
                   DRA24             NaN
                   DRA59             NaN
                   DRB13             NaN
                   DRB25             NaN
                                      ..
OUT049             NCZ18             NaN
                   NCZ30             NaN
                   NCZ42             NaN
                   NCZ53             NaN
                   NCZ54             NaN
Name: Item_Weight, Length: 8523, dtype: float64

#### *Al observar que el peso de los productos no tiene una variacion podemos llenar estos valores vacios con el peso del mismo producto*

In [94]:
sales_df = sales_df.sort_values(['Item_Identifier'], ascending=False) #Como los peso de los productos son iguales en todas las observaciones 
#primero realizo un ordenamiento por el peso para poder usar el metodo con el valor siguiente de cada item que se encuentra perdido 
sales_df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
2839           NCZ54        14.65  ...  Supermarket Type1          4711.2008
214            NCZ54        14.65  ...      Grocery Store           324.9104
7166           NCZ54          NaN  ...      Grocery Store           162.4552
1969           NCZ54        14.65  ...  Supermarket Type1          2274.3728
1896           NCZ54          NaN  ...  Supermarket Type3          5523.4768
...              ...          ...  ...                ...                ...
118            DRA12        11.60  ...  Supermarket Type1          2552.6772
7467           DRA12        11.60  ...  Supermarket Type2           850.8924
8043           DRA12        11.60  ...      Grocery Store           283.6308
1197           DRA12        11.60  ...  Supermarket Type1          3829.0158
1693           DRA12        11.60  ...  Supermarket Type1           992.7078

[8523 rows x 12 columns]

In [104]:
sales_df['Item_Weight'].fillna(method = 'bfill', inplace = True) # esta liena le pido llenar el balor de los vaores NA con el valor anterior al estar ordenados
#por el identificador de item tomaran los mismo valores del item 
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8523 entries, 2839 to 1693
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 865.6+ KB

In [102]:
mode_outletsize = sales_df['Outlet_Size'].mode()
mode_outletsize #otengo cual tamaño de tienda es el man comun estre los reatilers

0    Medium
dtype: object

In [106]:
sales_df['Outlet_Size'].fillna('Medium',inplace=True)
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8523 entries, 2839 to 1693
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 865.6+ KB